body {
    background: #dfe3ee;
    color: #3b5998;
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 100%; /* Размер шрифта в процентах */
}

.line_block {
        width:300px;
        height:30px;
        background:#eeeeee;
        float:left;
        margin: 0 5px 5px 0;
        text-align:center;
        padding: 20px;
}

.line_block_yellow {
        width:300px;
        height:30px;
        background:#faebd7;
        float:left;
        margin: 0 5px 5px 0;
        text-align:center;
        padding: 20px;
}

.line_block_without_background {
        width:300px;
        height:5px;
        float:left;
        margin: 0 10px 10px 0;
        text-align:center;
        padding: 20px;
}

.content{
width:1200px;
margin:0 auto;
}

hr {
border: none; /* Убираем границу для браузера Firefox */
color: white; /* Цвет линии для остальных браузеров */
background-color: white; /* Цвет линии для браузера Firefox и Opera */
height: 4px; /* Толщина линии */
}

a:link {
    color: #3b5998;
}

a:visited{
color: #3b5998;
}