{% extends 'base/layout.html' %}
{% block title %}{{ hardware.manufacturer }} {{ hardware.model }}{% endblock %}
{% block content %}
<h1>{{ hardware.manufacturer }} {{ hardware.model }} {{ hardware.serial }}</h1>
<a href="{{ hardware_id }}/edit">Редактировать</a>
<hr>
    <div class="line_block"><p>Расположение: {{ hardware.place }}</p></div>
    <div class="line_block"><p>Состояние: {{ hardware.status }}</p></div>
<br>
<br>
<br>
    <h3>Примечание</h3>
    <p>{{ hardware.comment }}</p>
<hr>
<h3>Ремонты</h3>
    {% for repair in repairs %}
<div class="line_block_yellow"><p>Дата начала ремонта: {{ repair.date_repair }}</p></div>
<div class="line_block_yellow"><p>Дата окончания ремонта: {{ repair.end_date_repair }}</p></div>
<br>
<br>
<br>
<br>
<div class="line_block_without_background"><p>Неисправность: {{ repair.problem }}</p></div>
<div class="line_block_without_background"><p>Результат ремонта: {{ repair.result }}</p></div>
<p>Стоимость ремонта: {{ repair.cost }}</p>

<p><a href="edit_repair/{{repair.id}}">Редактировать</a></p>
<p><a href="delete_repair/{{repair.id}}">Удалить</a></p>

<br>
<br>
    {% endfor %}
<hr>
<h3>Добавить ремонт</h3>
<form method="post">
    {% csrf_token %}
    <p>
        <label>Дата начала ремонта</label><br>
        <input type="date" name="date_repair" value="{{repair.date_repair}}" />
    </p>
    <p>
        <label>Проблема</label><br>
        <input type="text" name="problem" value="{{repair.problem}}" />
    </p>
    <p>
        <label>Подрядчик</label><br>
        <input type="text" name="contractor" value="{{repair.contractor}}" />
    </p>
    <p>
        <label>Дата окончания ремонта</label><br>
        <input type="date" name="end_date_repair" value="{{repair.end_date_repair}}" />
    </p>
    <p>
        <label>Результат ремонта</label><br>
        <input type="text" name="result" value="{{repair.result}}" />
    </p>
    <p>
        <label>Стоимость ремонта</label><br>
        <input type="number" name="cost" value="{{repair.cost}}" />
    </p>
    <p>
        <label>Статус ремонта</label><br>
        <input type="checkbox" name="cost" value="{{repair.status}}" />
    </p>
    <button type="submit">Добавить</button>
</form>
<a href="delete/{{hardware.id}}">Удалить</a>
<a href="{% url 'hardware_list' %}">Назад</a>
{% endblock %}