{% extends 'base/layout.html' %}
{% block title %}{{ hardware.manufacturer }} {{ hardware.model }}{% endblock %}
{% block content %}
<h1>{{ hardware.manufacturer }} {{ hardware.model }} {{ hardware.serial }}</h1>
<a href="{{ hardware_id }}/edit">Редактировать</a>
<hr>
    <div class="line_block"><p>Расположение: {{ hardware.place }}</p></div>
    <div class="line_block"><p>Состояние: {{ hardware.status }}</p></div>
<br>
<br>
<br>
    <h3>Примечание</h3>
    <p>{{ hardware.comment }}</p>
<hr>
<h3>Ремонты</h3>
    
    <table width="100%" id="myTable2">
        <thead>
            <tr>
                <th onclick="sortTable(0)" align="left">Дата начала ремонта</th>
                <th onclick="sortTable(1)" align="left">Неисправность</th>
                <th onclick="sortTable(2)" align="left">Подрядчик</th>
                <th onclick="sortTable(3)" align="left">Дата окончания ремонта</th>
                <th onclick="sortTable(4)" align="left">Результат ремонта</th>
                <th onclick="sortTable(5)" align="left">Стоимость ремонта</th>
                <th onclick="sortTable(5)" align="left">В ремонте</th>
            </tr>
        </thead>
        {% for repair in repairs %}
        <tbody>
            <tr>
                <td>{{ repair.date_repair }}</td>
                <td>{{ repair.problem }}</td>
                <td>{{ repair.contractor }}</td>
                <td>{{ repair.end_date_repair }}</td>
                <td>{{ repair.result }}</td>
                <td>{{ repair.cost }}</td>
                <td>{{ repair.status }}</td>
                <td><a href="edit_repair/{{repair.id}}">Редактировать</a><a href="delete_repair/{{repair.id}}">Удалить</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

<hr>
<h3>Добавить ремонт</h3>
<form method="post">
    {% csrf_token %}
    <p>
        <label>Дата начала ремонта</label><br>
        <input type="date" name="date_repair" value="{{repair.date_repair}}" />
    </p>
    <p>
        <label>Проблема</label><br>
        <input type="text" name="problem" value="{{repair.problem}}" />
    </p>
    <p>
        <label>Подрядчик</label><br>
        <input type="text" name="contractor" value="{{repair.contractor}}" />
    </p>
    <p>
        <label>Дата окончания ремонта</label><br>
        <input type="date" name="end_date_repair" value="{{repair.end_date_repair}}" />
    </p>
    <p>
        <label>Результат ремонта</label><br>
        <input type="text" name="result" value="{{repair.result}}" />
    </p>
    <p>
        <label>Стоимость ремонта</label><br>
        <input type="number" name="cost" value="{{repair.cost}}" />
    </p>
    <p>
        <label>Статус ремонта</label><br>
        <input type="checkbox" name="cost" value="{{repair.status}}" />
    </p>
    <button type="submit">Добавить</button>
</form>
<a href="delete/{{hardware.id}}">Удалить</a>
<a href="{% url 'hardware_list' %}">Назад</a>
{% endblock %}