{% extends 'base/layout.html' %}
{% block title %}{{ hardware.manufacturer }} {{ hardware.model }}{% endblock %}
{% block content %}
<h1>{{ hardware.manufacturer }} {{ hardware.model }} {{ hardware.serial }}</h1>
<a href="{{ hardware_id }}/edit">Редактировать</a>
<hr>
    <div class="line_block"><p>Расположение: {{ hardware.place }}</p></div>
    <div class="line_block"><p>Состояние: {{ hardware.status }}</p></div>
<br>
<br>
<br>
    <h3>Примечание</h3>
    <p>{{ hardware.comment }}</p>
<hr>
<h3>Ремонты</h3>
    
    <table width="100%" id="myTable2">
        <thead>
            <tr>
                <th onclick="sortTable(0)" align="left">Дата начала ремонта</th>
                <th onclick="sortTable(1)" align="left">Неисправность</th>
                <th onclick="sortTable(2)" align="left">Подрядчик</th>
                <th onclick="sortTable(3)" align="left">Дата окончания ремонта</th>
                <th onclick="sortTable(4)" align="left">Результат ремонта</th>
                <th onclick="sortTable(5)" align="left">Стоимость ремонта</th>
                <th onclick="sortTable(5)" align="left">В ремонте</th>
            </tr>
        </thead>
        {% for repair in repairs %}
        <tbody>
            <tr>
                <td>{{ repair.date_repair }}</td>
                <td>{{ repair.problem }}</td>
                <td>{{ repair.contractor }}</td>
                <td>{{ repair.end_date_repair }}</td>
                <td>{{ repair.result }}</td>
                <td>{{ repair.cost }}</td>
                <td>{{ repair.status }}</td>
                <td><a href="edit_repair/{{repair.id}}">Редактировать</a><a href="delete_repair/{{repair.id}}">Удалить</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

<hr>
<h3>Добавить ремонт</h3>
<form method="post">
    {% csrf_token %}
    <p>
        <label>Дата начала ремонта</label><br>
        <input type="date" name="date_repair" value="{{repair.date_repair}}" />
    </p>
    <p>
        <label>Проблема</label><br>
        <input type="text" name="problem" value="{{repair.problem}}" />
    </p>
    <p>
        <label>Подрядчик</label><br>
        <input type="text" name="contractor" value="{{repair.contractor}}" />
    </p>
    <p>
        <label>Дата окончания ремонта</label><br>
        <input type="date" name="end_date_repair" value="{{repair.end_date_repair}}" />
    </p>
    <p>
        <label>Результат ремонта</label><br>
        <input type="text" name="result" value="{{repair.result}}" />
    </p>
    <p>
        <label>Стоимость ремонта</label><br>
        <input type="number" name="cost" value="{{repair.cost}}" />
    </p>
    <p>
        <label>Статус ремонта</label><br>
        <input type="checkbox" name="status" value="{{repair.status}}" />
    </p>
    <button type="submit">Добавить</button>
</form>
<a href="delete/{{hardware.id}}">Удалить</a>
<a href="{% url 'hardware_list' %}">Назад</a>

<!-- скрипт для сортировки по заголовкам таблицы -->
<script type="text/javascript">
    function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable2");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

{% endblock %}